<!DOCTYPE html>
{% load bootstrap %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nueva Denuncia</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
   {% block content %}
       <div class="container">
            <h1>Nueva Denuncia</h1>
            <form method="POST" class="post-form">{% csrf_token %}
            {% for field in form %}
                        <div class="row">
                            <div class="col-md-4">
                                {{ field }}
                            </div>
                        </div>
                    {% endfor %}
            <br>
                <button type="submit" class="btn btn-primary">Save</button>
            </form>
       </div>
    {% endblock %}

</body>
</html>